

{% extends 'base.html' %}
{% block content %}
<form action="/" method="POST">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" placeholder="Enter movie title">

    <label for="cast">Cast:</label>
    <input type="text" id="cast" name="cast" placeholder="Enter cast name">

    <label for="year">Year:</label>
    <input type="number" id="year" name="year" placeholder="Enter release year">

    <label for="genres">genres:</label>
    <input type="text" id="genres" name="genres" placeholder="Enter genres genre">

    <button type="submit">Search</button>
</form>
{% endblock %}
